{{- define "main" -}}

<article class="article article-project">

  {{ partial "page_header.html" . }}

  <div class="article-container">

    {{ with .Params.thumbnail }}
    <figure>
      <img src="{{ . | relURL }}" alt="{{ $.Title }}" class="img-fluid" style="width: 100%; aspect-ratio: 2 / 1; object-fit: cover; object-position: top;">
    </figure>
    {{ end }}

    <div class="article-style">
      {{ .Content }}
    </div>

    {{ partial "page_footer" . }}

  </div>
</article>
{{- end -}}
